<!DOCTYPE html>
<html>
<head>
  <title>Confirmare acces</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body class="admin-page">

<div class="popup-auth">
  <h1>Tu ești HIGHMAN.EDITS?</h1>

  <form method="POST" action="/admin/auth-check">
    <button name="answer" value="yes" class="btn-yes">DA</button>
    <button name="answer" value="no" class="btn-no">NU</button>
  </form>
</div>

</body>
</html>
