<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="/admin.css" />
</head>
<body class="login-page">

<div class="login-box">
  <h2>Admin Login</h2>
  <% if(error){ %>
  <p class="error"><%= error %></p>
  <% } %>

  <form method="POST" action="/admin-login">
    <input type="password" name="password" placeholder="Parolă" required>
    <button type="submit" class="adm-btn">Login</button>
  </form>

</div>
</body>
</html>
