/* ===== LOGIN ===== */
.login-body {
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.login-box {
  background: #1c1c1c;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: white;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  background: #111;
  border: none;
  border-radius: 6px;
  color: white;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #00ff55;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* ===== ADMIN ===== */

.logout-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff4444;
  padding: 10px 14px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.box {
  background: #171717;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

table {
  width: 100%;
  color: white;
}

td {
  padding: 10px;
  border-bottom: 1px solid #333;
}
